<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liuuu.admin.system.user.mapper.SysUserRoleMapper">

    <!-- 获取关联未删除的用户数量 -->
    <select id="selectAssociateNotDeleteUserCount" resultType="java.lang.Long">
        select count(*) from sys_user_role sur
        inner join sys_user su on sur.fk_user_id = su.id
        where su.del_flag = #{delFlag} and sur.fk_role_id in
        <foreach collection="roleIds" item="roleId" open="(" separator="," close=")">
            #{roleId}
        </foreach>
    </select>

    <!-- selectUserIdByRoleCode -->
    <select id="selectUserIdByRoleCode" resultType="java.lang.Long">
        select distinct sur.fk_user_id from sys_user_role sur
        inner join sys_role sr on sur.fk_role_id = sr.id
        where sr.role_code = #{roleCode}
    </select>

</mapper>