<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liuuu.admin.system.dictionary.mapper.SysDictionaryMapper">

    <resultMap id="BaseResultMap" type="com.liuuu.admin.system.dictionary.vo.SysDictionaryVO">
        <result column="id" property="id" />
        <result column="dictionary_name" property="dictionaryName" />
        <result column="dictionary_code" property="dictionaryCode" />
        <result column="sort" property="sort" />
        <result column="status" property="status" />
        <result column="remark" property="remark" />
        <result column="fk_create_user_id" property="createUserId" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="fk_modify_user_id" property="modifyUserId" />
        <result column="gmt_modify" property="gmtModify" />
    </resultMap>

    <resultMap id="DictionaryInfoMap" type="com.liuuu.admin.system.dictionary.vo.DictionaryInfoVO" >
        <result column="id" property="id" />
        <result column="dictionary_name" property="dictionaryName" />
        <result column="dictionary_code" property="dictionaryCode" />
        <collection property="dictionaryDataList" javaType="java.util.List" resultMap="DictionaryDataInfoMap" />
    </resultMap>

    <resultMap id="DictionaryDataInfoMap" type="com.liuuu.admin.system.dictionary.vo.DictionaryDataInfoVO">
        <result column="dictionary_data_id" property="id" />
        <result column="dictionary_label" property="dictionaryLabel" />
        <result column="dictionary_value" property="dictionaryValue" />
        <result column="class_type" property="classType" />
    </resultMap>

    <!-- 获取最大排序 -->
    <select id="selectMaxSort" resultType="java.lang.Integer">
        select max(sort) from sys_dictionary
    </select>

    <!-- 获取所有字典详细信息 -->
    <select id="getAllDictionaryInfo" parameterType="Integer" resultMap="DictionaryDataInfoMap">
        select
            sd.id,
            sd.dictionary_name,
            sd.dictionary_code,
            sdd.id as dictionary_dataa_id,
            sdd.dictionary_label,
            sdd.dictionary_value,
            sdd.class_type
        from sys_dictionary as sd
        inner join sys_dictionary_data sdd on sd.id = sdd.fk_dictionary_id
        <where>
            <if test="status != null and status != ''">
                abd sd.status = #{status} and sdd.status = #{status}
            </if>
        </where>
        order by
            sd.sort asc,
            sd.id asc,
            sdd.sort asc,
            sdd.id asc
    </select>

</mapper>